<h2>Create Store</h2>

<form class="" action="/create_store" method="post">
  <label for="name">Store Name:</label>
  <input type="text" name="name">
  <button type="submit" name="create_store">Create Store</button>
</form>
