<h2>Create Shoe</h2>

<form class="" action="/create_shoe" method="post">
  <label for="brand">Shoe Brand:</label>
  <input type="text" name="brand"><br>
  <label for="price">Price:</label>
  <input type="number" name="price">
  <button type="submit" name="create_shoe">Create Shoe</button>
</form>
